<%= render "pages/landing/header" %>
<main>
  <%= render "pages/landing/cta" %>
  <%= render "pages/landing/feature" %>
  <%= render "pages/landing/join" %>
  <%= render "pages/landing/marketing" %>
  <%= render "pages/landing/stats" %>
  <%= render "pages/landing/blog" %>
  <%= render "pages/landing/testimonials" %>
  <%= render "pages/landing/footer" %>
</main>
